h1, h2 {
  text-align: center;
  font-family: 'Coming Soon', cursive;
  color: #ffad33;
}

h1 {
  font-size: 7em;
}

h2 {
  font-size: 5em;
}

body {
  background-color: #ffffcc;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%%;
}

p {
  font-family: 'Indie Flower', cursive;
  font-size: 2em;
}

a {
  font-family: 'Indie Flower', cursive;
  color: #ffad33
}

ol {
  font-family: 'Indie Flower', cursive;
}

li {
  font-size: 1.5em;
}

li {
  display: flex;
justify-content: space-evenly;
}
navbar-custom{
  background-color: #ffffcc;
}

h3 {
  font-family: 'Indie Flower', cursive;
  font-size: 3em;
  color: #b35900;
  text-align: center;
}

h4 {
  font-family: 'Indie Flower', cursive;
  font-size: 1.5em;
  color: #ffad33;
  text-align: center
}

button-outline-custom {

}
textarea {
justify-content; space-evenly;
}
label {
  width: 40%;
  margin: 10vh 10vw;
}

placeholder {
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}
