h1, h2 {
  font-family: "American Typewriter";
  color: #F5A43D
}

h1, h2 {
  text-align: center;
}

h1 {
  font-size: 7em;
}

h2 {
  font-size: 5em;
}

body {
  background-color: #050001;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
