.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
h1, h2 {
  font-family: "DK Lemon Yellow Sun";
  color: #F5A43D
}
}

.fa-instagram {
  background: #125688;
  color: white;
}
h1, h2 {
  text-align: center;
}

h1 {
  font-size: 7em;
}

h2 {
  font-size: 5em;
}

body {
  background-color: #ee82ee;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
body {
background-image:
}
